@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.space {
    height: 50px; 
    width: 100%;
}

.title {
    font-size: 30px; 
    font-family: 'Open Sans', sans-serif;
    margin: 10px 20px;
}

.intro_text {
    font-size: 14px; 
    font-family: 'Open Sans', sans-serif;
    margin: 0px 2%;
    margin-bottom: 30px;
}

.pdf_note_section {
    border: solid 1px;
    width: 90%; 
    margin: 15px auto;
    height: auto; 
    min-height: 200px;
    background-color: whitesmoke;
    padding: 2% 1%;
    box-shadow: 1px 1px 5px grey;
}

.pdf_note_text {
    width: 96%;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

.pdf_note_title {
    line-height: 100%;
    margin-top: 0px; 
    margin-bottom: 0px;
}

.pdf_note_description {
    font-size: 14px;
    margin-bottom: 0px;
    padding-left: 25px;
}

.html_row {
    width: 92%; 
    margin: auto;
    height: auto; 
    display: flex;
    flex-wrap: wrap;
}

.html_note_section {
    border: solid 1px;
    width: 45%; 
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 300px; 
    height: auto; 
    background-color: whitesmoke;
    padding: 2% 1%;
    box-shadow: 1px 1px 5px grey; 
}

.program_note_section {
    border: solid 1px;
    width: 32%; 
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 0px 0%;
    box-shadow: 1px 1px 5px grey; 
    overflow-y: hidden; 
    overflow-x: hidden;
}

.html_note_text {
    width: 94%;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

.html_note_title {
    line-height: 100%;
    margin-top: 0px; 
    margin-bottom: 0px;
}

.html_note_description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    padding-left: 25px;
}

.graph_text {
    font-size: 14px; 
    color: black; 
    font-family: 'Open Sans', sans-serif;
    text-decoration: none; 
    margin: 5px auto; 
    font-weight:600; 
}