**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log 
**/*.out
**/*.synctex(busy)
**/*.synctex.gz
**/*.toc
node_modules/
**/.DS_Store/**
**/.DS_Store
STEM/.DS_Store
STEM/Statistics/.DS_Store
**/*.ipynb
*.DS_Store
