<!DOCTYPE html> 
<html>
<head>
  <script type="text/javascript" src="../Mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    MathJax.Hub.Config({
      tex2jax: { inlineMath: [ ["$", "$"], ["\\(", "\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ]} });
  </script>
  
  <script>
    function reveal_solution_button() {
      const solution_buttons = document.getElementsByClassName("Solution_Button"); 
      
      for (let i = 0; i < solution_buttons.length; i++) {
        solution_buttons[i].style.display = "block"; 
      }
    }
  </script>
  <link rel="stylesheet" href="../Particles_Background/particles.css">
  <link rel="stylesheet" href="tabstyle.css">
</head>

<div style="position: absolute; border: solid 0px; width: 30px; height: 30px; right: 0px;" onclick = reveal_solution_button()></div>
<body>

<h2>Muchang's Tutoring Page: Exercises</h2>

Welcome. Have fun. I recommend using full screen to avoid display issues. <br><br>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Polynomials')">Polynomials</button>
  <button class="tablinks" onclick="openTab(event, 'Vectors_Matrices')">Vectors & Matrices</button>
  <button class="tablinks" onclick="openTab(event, 'Calculus')">Calculus</button>
</div>

<div id="Polynomials" class="tabcontent">

<div id="Dropdown Menu0" style="margin-bottom: 10px">
<select id="Dropdown_Convert0">
  <option value="Linear: Point-Slope to Slope-Intercept">Linear: Point-Slope to Slope-Intercept</option>
  <option value="Linear: Slope-Intercept to Point-Slope">Linear: Slope-Intercept to Point-Slope</option>
  <option value="Quadratic: Standard to Factored">Quadratic: Standard to Factored</option>
  <option value="Quadratic: Standard to Vertex">Quadratic: Standard to Vertex</option>
  <option value="Quadratic: Factored to Standard">Quadratic: Factored to Standard</option>
  <option value="Quadratic: Factored to Vertex">Quadratic: Factored to Vertex</option>
  <option value="Quadratic: Vertex to Standard">Quadratic: Vertex to Standard</option>
  <option value="Quadratic: Vertex to Factored">Quadratic: Vertex to Factored</option>
  <option value="Polynomial: Factored to Standard">Polynomial: Factored to Standard</option>
  <option value="Polynomial: Standard to Factored">Polynomial: Standard to Factored</option>
</select>

<select id="Dropdown_Level0">
  <option value="1" selected="selected">Level 1</option>
  <option value="2">Level 2</option>
  <option value="3">Level 3</option>
</select>
</div>

<label for="fname">No. of Exercises</label>
<input type="number" id="no_ex0" value="10" min="1" max="99" style="width: 50px">

<button onclick="GenerateConvertExercises(no_ex0.value)" src="polynomials.js">Generate</button>
<div id="box" style="height: 50px; width: 50px; border: solid 1px black; display: none;"></div>


<p><b>A few things to keep in mind:</b></p>
<ul>
  <li>The format for entering in your solutions uses $+, -$ for addition and subtraction, respectively, and the ^ sign for exponents. The amount of spacing between the numbers, variables, and operations does not matter. e.g. 
    <ul>
      <li><code>x^2 - 3x + 4</code> $\longrightarrow x^2 - 3x + 4$</li>
      <li><code>3  x  ^ 2 -3x+4</code> $\longrightarrow x^2 - 3x + 4$</li>
      <li><code>-2(x - 4)^2 + 4</code> $\longrightarrow (x - 4)^2 + 4$</li>
      <li><code>2(4  x - 3)(x + 12 )</code> $\longrightarrow 2(4  x - 3)(x + 12 )$</li>
    </ul>
  </li>
  <li>When you have to write down a number that is not an integer (that is, a fraction), round everything to the nearest tenths place. e.g. $\frac{1}{2} = 0.5, \; \frac{3}{4} = 0.8, \; \frac{22}{7} = 3.1$</li>
  <li>When a quadratic factors into two identical factors, make sure to write the solution as such: 
    \[x^2 - 4x + 4 = (x - 2)^2\]
  rather than 
    \[x^2 - 4x + 4 = (x - 2) (x - 2)\]
  Even though the latter is technically correct, we want to get into the habit of writing these things with exponents in a concise way. 
  </li>
  <li>When factoring polynomials, the coefficient of the linear terms of the factors should always be positive. That is, 
    \[-x^2 + 1 = -(x + 1) (x - 1), \text{ not } -x^2 + 1 = (-x - 1)(x - 1) \text{ or } (x + 1) (-x + 1)\]
  </li>
</ul>

<script src="polynomials.js"></script>
</div>

<!--------------------------------------------------> 


<div id="Vectors_Matrices" class="tabcontent">

<div id="Dropdown MenuM" style="margin-bottom: 10px">
<select id="Dropdown_ConvertM">
  <option value="Matrix Addition & Scalar Multiplication">Matrix Addition & Scalar Multiplication</option>
  <option value="Matrix Multiplication">Matrix Multiplication</option>
  <option value="Vector Products">Vector Products</option>
  <option value="Matrix Inversion & Determinants">Matrix Inversion & Determinants</option>
  <option value="Gauss Jordan Elimination">Gauss Jordan Elimination</option>
  <option value="Change of Basis">Change of Basis</option>
</select>

<select id="Dropdown_LevelM">
  <option value="1" selected="selected">Level 1</option>
  <option value="2">Level 2</option>
  <option value="3">Level 3</option>
</select>
</div>


<label for="fname">No. of Exercises</label>
<input type="number" id="no_ex1" value="10" min="1" max="99" style="width: 50px">

<button onclick="GenerateMatrixExercises(no_ex1.value)" src="matrices.js">Generate</button>
<div id="box" style="height: 50px; width: 50px; border: solid 1px black; display: none;"></div>

<p><b>A few things to keep in mind:</b></p>
<ul>
  <li>In the input boxes, make sure to write your matrices where each row is written in a separate line and the row elements are separated by commas. Some examples are shown below. Remember that there are no commas at the end of each line, and you <i>must</i> make a new line for new rows. 
    <ol>
      <li>The matrix 
        \[\begin{pmatrix} 2 & 3 \\ 1 & 4 \end{pmatrix}\]
        is written 
        <pre class="code_input">
        2, 3
        1, 4</pre>
      </li>
      <li>The matrix 
        \[\begin{pmatrix} -2 & 13 & 0 & -7\\ 0 & 0 & -12 & 81 \\ 13 & -4 & -9 & 43 \end{pmatrix}\]
        is written 
        <pre class="code_input">
          -2, 13, 0, -7
          0, 0, -12, 81
          13, -4, -9, 43</pre>
      </li>
    </ol>

  </li>
  <li>If the problem ever overfills to the point where the solution box is covering the exercise, then you can temporarily zoom out (press <code>CTRL</code> and <code>-</code> keys), which should give you more space. </li>
</ul>

<script src="matrices.js"></script>
</div>

<!--------------------------------------------------> 



<div id="Calculus" class="tabcontent">
  To be updated when teaching calculus. 
</div>


<!--------------------------------------------------> 

<script>
function openTab(evt, exerciseName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(exerciseName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


</body>
</html>