#canvas1 {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    position: fixed; 
    top: 0; 
    bottom: 0px;
    background: linear-gradient(#c6a6f7, #f7b7a6, #92b6e8, #ace39b); 
    z-index: -100;
    background-attachment: fixed; 
}